{% include 'shop/header.html' %}
<center>
<h1><b>Мужские одежды</b></h1>
  {% for i in object_list %}
  <h3>{{i.name}}</h3>
  <img src="{{i.image.url}}" width="300" height="300">

<style>
  a{
    text-decoration: none;
    color: black;

  }
</style>
    <button type="button" class="btn btn-secondary"><a href="product_detail/{{i.id}}">Подробнее</a></button>
<button type="button" class="btn btn-secondary"><a href="/add-goods/">Добавить товар</a></button>
{% endfor %}
</center>
</body>
</html>

{% include 'shop/footer.html' %}
